<footer class=footer>
    <div class=container>
        <div class=columns>
            <div class="column is-one-fifth pr-6">
                <img class="footer-logo is-hidden-mobile" src="/assets/img/spxp-logo.png" alt="SPXP footer logo">
            </div>
            <div class=column>
                <p class="subtitle is-size-5 is-size-6-mobile has-text-weight-light">Social Network. Liberated.</p>
                <div class=columns>
                    <div class="column is-one-third">
                        <ul>
                            <li>
                                <a href=https://github.com/spxp/spxp-specs target=_blank>Specification</a>
                            </li>
                            <li>
                                <a href=https://github.com/spxp/spxp-specs/blob/master/Overview.md target=_blank>Primer</a>
                            </li>
                            <li>
                                <a href>Project</a>
                            </li>
                        </ul>
                    </div>
                    <div class="column is-one-third">
                        <p class=has-text-weight-bold>SDKs</p>
                        <ul>
                            <li>
                                <a href=https://github.com/spxp/sdk-java target=_blank>Java</a>
                            </li>
                            <li>
                                <a href=https://github.com/spxp/sdk-javascript target=_blank>JavaScript</a>
                            </li>
                            <li>
                                <a href=https://github.com/spxp/sdk-go target=_blank>Go</a>
                            </li>
                        </ul>
                    </div>
                    <div class="column is-one-third">
                        <p class=has-text-weight-bold>Something else</p>
                        <ul>
                            <li>
                                <a href=https://azure.microsoft.com/en-us/services/event-grid target=_blank>Thing one</a>
                            </li>
                            <li>
                                <a href=https://github.com/serverless/event-gateway target=_blank>Thing two</a>
                            </li>
                            <li>
                                <a href=https://knative.dev/docs/eventing/ target=_blank>Thing three</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="buttons is-radiusless">
                    <a class="button is-small is-black is-radiusless" href=https://github.com/spxp target=_blank>
                        <span class=icon><i class="fab fa-github"></i></span>
                    </a>
                    <!-- <a class="button is-small is-twitter-blue is-radiusless" href=https://twitter.com/SPXP5 target=_blank>
                        <span class=icon><i class="fab fa-twitter"></i></span>
                    </a> -->
                </div>
                <hr class=has-background-grey-light>
                <div class="has-text-weight-light copyright">
                    <p>&copy; 2020 The SPXP foundtation | Documentation Distributed under CC-BY-4.0</p>
                    <!-- <p>
                        &copy; 2020 The Linux Foundation. All rights reserved. The Linux Foundation has registered trademarks and uses trademarks. For a list of trademarks of The Linux Foundation, please see our
                        <a href=https://www.linuxfoundation.org/trademark-usage/>Trademark Usage</a> page.
                    </p> -->
                </div>
            </div>
        </div>
    </div>
</footer>
