<!-- nav bar: https://bulma.io/documentation/ -->
<nav class="navbar is-fixed-top">
    <div class=container>
        <div class=navbar-brand>
            <a class=navbar-item href="/index.html">
                <img src="/assets/img/spxp-logo.png" alt="Logo">
            </a>
            <a role=button class=navbar-burger data-target=navbar-menu aria-label=menu aria-expanded=false>
                <span aria-hidden=true></span>
                <span aria-hidden=true></span>
                <span aria-hidden=true></span>
            </a>
        </div>
        <div class=navbar-menu id=navbar-menu>
            <div class=navbar-end>
                <a class=navbar-item href=https://github.com/spxp/spxp-specs target=_blank>
                    Specification
                    &nbsp;
                    <sup>
                        <span class="icon is-small has-text-primary">
                            <i class="fas fa-xs fa-external-link-alt"></i>
                        </span>
                    </sup>
                </a>
                <a class=navbar-item href=https://github.com/spxp/spxp-specs/blob/master/Overview.md target=_blank>
                    Primer
                    &nbsp;
                    <sup>
                        <span class="icon is-small has-text-primary">
                            <i class="fas fa-xs fa-external-link-alt"></i>
                        </span>
                    </sup>
                </a>
                <div class="navbar-item has-dropdown is-hoverable">
                    <a class=navbar-link>Project</a>
                    <div class="navbar-dropdown is-right">
                        <a class=navbar-item href=https://github.com/cncf/foundation/blob/master/code-of-conduct.md target=_blank>
                            Code of conduct
                            &nbsp;
                            <sup>
                                <span class="icon is-small has-text-primary">
                                    <i class="fas fa-xs fa-external-link-alt"></i>
                                </span>
                            </sup>
                        </a>
                        <a class=navbar-item href=https://github.com/spxp/spxp-specs target=_blank>
                            Governance
                            &nbsp;
                            <sup>
                                <span class="icon is-small has-text-primary">
                                    <i class="fas fa-xs fa-external-link-alt"></i>
                                </span>
                            </sup>
                        </a>
                        <a class=navbar-item href=https://github.com/spxp/spxp-specs/network/dependencies target=_blank>
                            Contributors
                            &nbsp;
                            <sup>
                                <span class="icon is-small has-text-primary">
                                    <i class="fas fa-xs fa-external-link-alt"></i>
                                </span>
                            </sup>
                        </a>
                    </div>
                </div>
                <div class="navbar-item has-dropdown is-hoverable">
                    <a class=navbar-link>SDKs</a>
                    <div class="navbar-dropdown is-right">
                        <a class=navbar-item href=https://github.com/spxp/sdk-java target=_blank>
                            Java
                            &nbsp;
                            <sup>
                                <span class="icon is-small has-text-primary">
                                    <i class="fas fa-xs fa-external-link-alt"></i>
                                </span>
                            </sup>
                        </a>
                        <a class=navbar-item href=https://github.com/spxp/sdk-javascript target=_blank>
                            JavaScript
                            &nbsp;
                            <sup>
                                <span class="icon is-small has-text-primary">
                                    <i class="fas fa-xs fa-external-link-alt"></i>
                                </span>
                            </sup>
                        </a>
                        <a class=navbar-item href=https://github.com/spxp/sdk-go target=_blank>
                            Go
                            &nbsp;
                            <sup>
                                <span class="icon is-small has-text-primary">
                                    <i class="fas fa-xs fa-external-link-alt"></i>
                                </span>
                            </sup>
                        </a>
                    </div>
                </div>
                <div class=navbar-item>
                    <div class=buttons>
                        <a class="button is-white is-radiusless" href=https://github.com/spxp target=_blank>
                            <span class=icon>
                                <i class="fab fa-github"></i>
                            </span>
                            <span>GitHub</span>
                        </a>
                        <!-- <a class="button is-twitter-blue is-radiusless" href=https://twitter.com/SPXP5 target=_blank>
                            <span class=icon>
                                <i class="fab fa-twitter"></i>
                            </span>
                            <span>Twitter</span>
                        </a> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>
