<footer class="krypton-footer">
    <div class="container">
        <!-- Logo -->
        <div class="footer-logo">
            <a href="#">
                <div class="brand-name">SPXP</div>
                <div class="brand-subtitle">Social Profile Exchange Protocol</div>
            </a>
        </div>
        
        <!-- Copyright -->
        <p class="k-copyright">© 2020 The SPXP authors</p>
        <br>
        <!-- Made by -->
        <p class="coded-by">Website based on <a href="https://github.com/cssninjaStudio/krypton" target="_blank">Krypton</a> template by <a href="https://cssninja.io" target="_blank">Css Ninja</a><br/>Using icons from <a href="https://icomoon.io/" target="_blank">IcoMoon</a> under CC-BY 4.0</p>
    </div>
    
    <!-- Absolute image -->
    <img class="solar-system" src="assets/img/bg/solar.svg" alt="">
</footer>