<!-- Static navbar -->
<nav class="navbar is-light">
    <div class="container">
        <!-- Brand -->
        <div class="navbar-brand">
            <a href="index.html" class="navbar-item">
                <span class="brand-name">SPXP.org</span>
            </a>
            <!-- Responsive toggle -->
            <span class="navbar-burger burger" data-target="navbarMenu">
                <span></span>
                <span></span>
                <span></span>
            </span>
        </div>
        <!-- Menu -->
        <div id="navbarMenu" class="navbar-menu light-menu">
            <div class="navbar-end">
                <!-- Menu item -->
                <div class="navbar-item is-nav-link">
                    <a class="is-centered-responsive" href="https://github.com/spxp/spxp-specs/blob/v0.3/SPXP-Spec.md" target="_blank">Specification</a>
                </div>
                <!-- Menu item -->
                <div class="navbar-item is-nav-link">
                    <a class="is-centered-responsive" href="https://github.com/spxp/spxp-specs/blob/master/Overview.md" target="_blank">Primer</a>
                </div>
                <!-- Menu item -->
                <div class="navbar-item is-nav-link">
                    <a class="is-centered-responsive" href="https://github.com/spxp/spxp-crypto" target="_blank">Crypto SDK</a>
                </div>
            </div>
        </div>
    </div>
</nav>
<!-- /Static navbar -->