<!DOCTYPE html>
<html lang="zxx">
    <head>
        <!-- Required meta tags always come first -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta http-equiv="x-ua-compatible" content="ie=edge">

        <title>Social Profile Exchange Protocol</title>
        <meta name="description" content="A Specification defining how independent clients and servers can exchange information about social profiles, focusing on privacy, security and individual sovereignty.">
        <!--<link rel="icon" type="image/png" href="assets/img/favicon.png" />-->
        
        <link href="https://fonts.googleapis.com/css?family=Cabin" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400" rel="stylesheet">

        <!--Core CSS -->
        <link rel="stylesheet" href="{{root}}assets/css/app.css">
        <link rel="stylesheet" href="{{root}}assets/css/bulma.css">
        <link rel="stylesheet" href="{{root}}assets/css/core.css">

        <script defer src="https://use.fontawesome.com/releases/v5.14.0/js/all.js"></script>

    </head>
    <body>
        {{> pageloader}}
        {{> body}}
        {{> footer}}
        {{> scripts}}
        
        <script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
    </body>  
</html>
