name: Deploy on push to master
on:
  push:
    branches: [ master ]
jobs:
  web-deploy:
    name: Build and deploy
    runs-on: ubuntu-latest
    steps:
      - name: Get latest code
        uses: actions/checkout@v4

      - name: Setup Node.js 20
        uses: actions/setup-node@v4
        with:
          node-version: '20'
          
      - name: Build project
        run: |
          npm install
          npx gulp build
             
      - name: Upload to webserver
        uses: Creepios/sftp-action@v1.0.3
        with:
          host: ${{ secrets.FTP_SERVER }}
          port: 22
          username: ${{ secrets.FTP_USERNAME }}
          password: ${{ secrets.FTP_PASSWORD }}
          localPath: './dist/'
          remotePath: './'
